body, html {
  height: 100%;
  color: #ffffff;
  overflow: hidden;
}

.bg {
  background-image: url(../images/background.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  display: block;
}

#title {
  font-size: 3rem;
  text-align: center;
}

#subtitle {
  text-align: center;
  color: #d6d6d6
}

.container { 
  margin-top: 1rem;
}

.container:before,
.container:after {
  content: " ";
  display: table; 
}

.container:after {
  clear: both;
}

.character-text {
  margin-top: 1rem;
  margin-bottom: -1rem;
  width: 495px;
}

#your-char {
  display: inline;
}

#fighter-char {
  float: right;
  display: none;
}

.characters {
  float: left;
  width: 240px;
  height: 200px;
  text-align: center;
  margin-right: 1rem;
  padding: 1px 1rem 1rem 1rem;
  background: #000;

  border: 4px solid black;
  overflow: hidden;
}

.dmg-container {
  text-align: left;
  height: 100%;
  width: 3rem;
}

.dmg-container p {
  text-align: right;
  font-size: 2.8rem;
  line-height: 2.3rem;
  color: red;
}

.dmg-text {
  width: 655px;
  margin-top: 8px;
}

#dmg-recieved {
  display: inline-block;
}

#dmg-dealt {
  float: right;
}

#player-damage-taken {
  color: red;
}

#fighter-damage-taken {
  color: rgb(0, 255, 0);
}

.defeated-text {
  color: rgb(0, 255, 0);
  font-weight: bold;
}

.attack-button {
  position: absolute;
  left: 19.3rem;
  top: 12rem;
}

.defender {
  position: relative;
  left: 5rem;
}

.char-text {
  display: inline-block;
}

.char-pic-border {
  height: 90%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#pic1 {
  background-image: url(../images/char1.jpg);
}

#pic2 {
  background-image: url(../images/char2.jpg);
}

#pic3 {
  background-image: url(../images/char3.jpg);
}

#pic4 {
  background-image: url(../images/char4.jpg);
}

.player {
  border: 4px solid green;
}

.enemy {
  border: 4px solid red;
}

.hidden {
  display: none;
}

