h1 {
  font-size: 2rem;
  display: block;
}

#attack {
  display: inline-block;
}

.characters {
  float: left;
  width: 240px;
  height: 180px;
  text-align: center;
  margin-right: 1rem;

  border: 4px solid black; /* Temp */
}

.container {
  margin-top: 1rem;
}

.container:before,
.container:after {
  content: " ";
  display: table; 
}

.container:after {
  clear: both;
}

.player {
  border: 4px solid green;
}

.enemy {
  border: 4px solid red;
}

.hidden {
  display: none;
}

.enemy-div {
  background-color: purple;
}